.table-container {
  background-color: rgba(75, 64, 52, 0.9); /* 80% opacity */
  border-radius: 16px;
  padding: 20px;
  width: 100%;
  border: 1px solid #F4BB01;
}

.table thead {
  color: #c9c9c9;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table tbody tr td {
  color: #e9e9e9;
  border-color: rgba(255, 255, 255, 0.08);
}

.table-responsive .table thead tr th,
.table>:not(caption)>*>* {
  background-color: transparent;
  color: #e9e9e9;
}

.table-responsive .table tbody tr td,
.table>:not(caption)>*>* {
  background-color: transparent;
}

.badge-active {
  background-color: #d97706;
  color: #fff;
  font-size: 0.8rem;
  padding: 6px 10px;
  border-radius: 6px;
}

.badge-inactive {
  background-color: #fff;
  color: #000;
  font-size: 0.8rem;
  padding: 6px 10px;
  border-radius: 6px;
}

.table-search {
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 6px;
  padding: 6px 12px;
}

.table-search::placeholder {
  color: #bbb;
}

.active-paginate {
  background-color: #23147A;
  color: #fff;
}

@media (max-width: 768px) {
  .table-search {
    width: 100%;
    margin-bottom: 10px;
  }
}